<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <div>
            <form action="" method="post">
                <label>Email</label></br>
                <input name="submitted_email" type="email" id="email"></br></br>
                <label>Password</label></br>
                <input name="submitted_password" type="password" id="password"></br></br>
                <input type="submit" value="Log in" id="loginbutton"></br></br>
            </form>
        </div>
        <div>
            <form action="/register">
                <label>New around here?</label></br>
                <input value="Register" type="submit" id="registerbutton">
            </form>
        </div>
    </body>
</html>

