<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>
    <body>
        <div>
            <form method="post">
                <label>Email</label></br>
                <input type="email" name="submitted_email" id="email"></br></br>
                <label>Password</label></br>
                <input type="password" name="submitted_password" id="password"></br></br>
                <input type="submit" value="Register" id="registerbutton">
            </form>
        </div>
</html>

